* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

:root {

    /* PRIMARY COLORS */
    
    --clr-primary-cyan: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

    --clr-primary-paper: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --clr-primary-rock: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --clr-primary-scissors: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));

    /* NEUTRAL COLORS */
    --clr-neutral-dark-text: hsl(229, 25%, 31%);
    --clr-neutral-score-text: hsl(229, 64%, 46%);
    --clr-neutral-header-outline: hsl(217, 16%, 45%);

    /* BACKGROUND COLOR */
    --clr-background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

    --clr-testing: red;
}

body {
    background: var(--clr-background);
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    margin: 0;
}

.wrapper {
    max-width: 376px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

/* HEADER SECTION */

section.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--clr-neutral-header-outline);
    border-radius: 7px;
    min-width: 375px;
    padding: 0.5em 0.625em;
    margin: 0;
}

/* HEADER SECTION, TEXT AREA */

section.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section.header .text {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 0.8;
}

/* HEADER SECTION, SCORE COUNTER */

section.header .score-counter {
    text-align: center;
    background-color: white;
    width: 28%;
    border-radius: 4px;
}

section.header .score-counter {
    color: var(--clr-neutral-score-text)
}

section.header .score-counter .score {
    color: var(--clr-neutral-dark-text);
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

/* CONTENT SECTION */

section.content {
    display: flex;
    height: 40vh;
}

section.content .container {
    padding: 1em;
    border-radius: 50%;
}

section.content .option {
    border-radius: 50%;
    padding: 2em;
    background: white;
}

section.content .option img {
    width: 50px;
}

section.content .paper .container {
    background: var(--clr-primary-paper);
}

section.content .rock .container {
    background: var(--clr-primary-rock);
}

section.content .rock {
    align-self: flex-end;
}

section.content .scissors .container {
    background: var(--clr-primary-scissors);
}

.grow {
    transition: all .2 ease-in-out;
}

.grow:hover {
    transform: scale(1.1)
}

/* RULES SECTION */

section.rules a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.4em 1em;
    border-radius: 7px;
    border: 1px solid;
}
